$black: #2c2c2c;
$white: #ffffff;
$white50: #ffffffe0;
$green-light: #d4f5d5;
$green: #4caf50;
$green-dark: #1f7021;
$green-medium: #3d8b3f;
$blue: #008cba;
$blue-dark: #016181;
$gray: #7c7c7c;
$gray-light: #999999;
$gray-light50: #99999970;
$orange: #ff6600;
$orange-light: #fc9918;
$beige: #faead5;
