$green: #348069;
$green30: #34806930;
$green50: #34806950;
$green80: #34806980;
$green-dark: #1f6852;
$red: #ca4831;
$red-light: #e06e5a;
$red-dark: #b43019;
$red30: #ca483130;
$red50: #ca483150;
$white: #fff;
$white50: #ffffff50;
$white80: #ffffff80;
$black: #2c2c2c;
$blue: #3d597e;
$blue-dark: #253c58;
