$green: #348069;
$green30: #34806930;
$green50: #34806950;
$green80: #34806980;
$green-dark: #1f6852;
$red: #ca4831;
$red50: #ca483150;
$white: #fff;
$white50: #ffffff50;
$white80: #ffffff80;
$black: #2c2c2c;
