@import '../../../styles/variables.scss';

.info-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  min-width: 300px;
  padding: 38px 20px;
  border: 1px solid $gray;
  color: $black;
}
