@import '../../styles/variables.scss';

.car {
  position: absolute;
  left: 100px;
  bottom: 0;
  z-index: -1;
  height: 44px;
}

.car-svg {
  width: 60px;
  height: 60px;
}

.car-wheel {
  fill: $black;
}
