@import '../../../styles/variables.scss';

.winners-row {
  position: relative;
  left: 0;
  bottom: 0;
  z-index: -1;
  height: 44px;
  border-collapse: collapse;
  border-bottom: 1px solid $gray-light50;

  & td .car {
    position: static;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    margin: auto;
  }
}
