.logo-wrapper {
  display: none;
}

.logo-wrapper.active {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: -1;
}
.logo-img {
  height: 290px;
}

@media screen and (max-width: 900px) {
  .logo-wrapper.active {
    display: none;
  }
}
